PROJECT_ID=your_project_name
REGION=region_name

# Service URLs (The Bridge)
# Paste the URL you got from the mcp-server deployment here
# sample :https://mcp-server-xxxx.region.run.app
MCP_URL=mcp_server_url

# Agent Configuration
# sample gemini-2.5-flash
AGENT_MODEL=model name
